/*  your css code here. If applicable */
body{
	width:100vw;
	height:100vh;
	margin:0;
	padding:0;
	display:flex;
}
#navBar{
	height:100%;
	background-color:#D7E8D4;
	width:16.6667vw;
	padding:1em;
}
#main{
	width:100%;
	display:flex;
	flex-direction:column;
	padding:1em;
}
#header{
	height:20%;
	background-color:yellowgreen;
	padding:1em;
}
footer{
	height:20%;
	background-color:yellowgreen;
	padding:1em;
}
.content{
	width:80vw;
	display:flex;
	padding:1em;
}
.content>article{
	width:75%;
	min-height:60vh;
	padding:1em;
}
aside{
	width:25%;
	background-color:#F5F5DC;
	padding:1em;
}